@font-face {
  font-family: "UbuntuMono";
  src: local("UbuntuMono"),
    url("./fonts/UbuntuMono-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "UbuntuMono";
  src: local("UbuntuMono"),
    url("./fonts/UbuntuMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

h1, body {
  font-family: 'UbuntuMono-Bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align:center;
  align-items: center;
}
p {
  text-align:center;
  align-items: center;
}



